%body
  = render "purchases/header"
  %main.Main
    %section.Main__Wrapper
      %h2.Main__Header__Title 会員情報入力
      = form_with model:@user, url: user_registration_path, html:{class:"New__User"}, local: true do |f|
        .Form__Container
          .Form__Group
            = f.label :ニックネーム, class: "Form__inner-label"
            %span.Sticker 必須
            = f.text_field :nickname, placeholder: "例) フリマ太郎", class: "Input__Default"
          .Form__Group
            = f.label :メールアドレス, class: "Form__inner-label"
            %span.Sticker 必須
            = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "Input__Default"
          .Form__Group
            = f.label :パスワード, class: "Form__inner-label"
            %span.Sticker 必須
            = f.password_field :password, placeholder: "6文字以上の半角英数字", class: "Input__Default"
          .Form__Group
            = f.label :"パスワード(再入力)", class: "Form__inner-label"
            %span.Sticker 必須
            = f.password_field :password_confirmation, placeholder: "上記と同じものを入力してください", class: "Input__Default"
          .Form__Group
            %label.Form__inner-label 
            %h3.Exposition 本人確認
            %p.Exposition__Sentence 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ご協力ください。他のお客さまに公開されることはありません。
          .Form__Group
            .Form__Group__div
              = f.label :"お名前(全角)", class: "Form__inner-label"
              %span.Sticker 必須
            .Form__Group__div__parallel
              = f.text_field :last_name, placeholder: "例)香川", class: "Input__Default__left"
              = f.text_field :first_name, placeholder: "例)太郎", class: "Input__Default__right"
          .Form__Group
            .Form__Group__div
              = f.label :"お名前かな(全角)", class: "Form__inner-label"
              %span.Sticker 必須
            .Form__Group__parallel
              = f.text_field :last_name_ruby, placeholder: "例)かがわ", class: "Input__Default__left"
              = f.text_field :first_name_ruby, placeholder: "例)たろう", class: "Input__Default__right"
          .Form__Group
            .Form__Group__div
              = f.label :生年月日, class: "Form__inner-label"
              %span.Sticker 必須
            .Form__Group__parallel
              = f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), include_blank: true
            %p.p2 ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .Form__Group
            %label
              = f.submit "住所情報入力へ", class: "Form__submit-btn"
  = render "purchases/footer"

