%body
  = render "purchases/header"
  %main.Main
    %section.Main__Wrapper
      %h2.Main__Header__Title 会員情報入力
      = form_with model:@delivery, html:{class:"New__User"}, local: true do |f|
        .Form__Container
          .Form__Group
            %h3.h3title 配送先住所
          .Form__Group
            = f.label :郵便番号, class: "Category"
            %span.Sticker 必須
            = f.text_field :postal_code, placeholder: "例)760-8639", class: "Input__Default"
          .Form__Group
            = f.label :都道府県, class: "Category"
            %span.Sticker 必須
            = f.collection_select :prefectures_id, Prefecture.all, :id, :name, {include_blank: true}, {class: "Input__Default"}
          .Form__Group
            = f.label :市区町村, class: "Category"
            %span.Sticker 必須
            = f.text_field :municipality, placeholder: "例）高松市", class: "Input__Default"
          .Form__Group
            = f.label :番地, class: "Category"
            %span.Sticker 必須
            = f.text_field :address, placeholder: "例）サンポート2-1", class: "Input__Default"
          .Form__Group
            = f.label :建物名, class: "Category"
            %span.Sticker__Any 任意
            = f.text_field :address_detail, placeholder: "例）高松シンボルタワータワー棟4・5階", class: "Input__Default"
          .Form__Group
            = f.label :電話番号, class: "Category"
            %span.Sticker__Any 任意
            = f.text_field :phone_number, placeholder: "例）0878220111", class: "Input__Default"
          .Form__Group
            %label
              = f.submit "登録", class: "Category__T"
  = render "purchases/footer"