.user
  = render "shared/header"
  - breadcrumb :user
  = render "shared/breadcrumbs"
  .user__body
    .userbody__main
      .userbody__main__left
        = render "users/left_navi"
      .bodymain__right
        .right__Upper
          .right__Upper__contents
            .content__user
              = image_tag "member_photo_noimage_thumb.png",width: '60',height:'60'
            %h2= current_user.nickname
            .content__grades 評価  １００

        .right__middle
          %ul.middle__notice
            %li.tab__active  お知らせ
            %li.tab__active やることリスト
          .middle__notice__list
            %ul.middle__notice__list__left
              %li= link_to 'アイテムトップページ', "#", class: "left_class" 
              %li= link_to 'アイテムニュウ', "#", class: "left_class" 
              %li= link_to '今がチャンス', "#", class: "left_class" 
              %li= link_to 'エントリーお待ちしてます', "#", class: "left_class" 
              %li= link_to 'テックキャンプ', "#", class: "left_class" 
              %li= link_to 'ポイントがもらえる', "#", class: "left_class" 
              %li= link_to '今がチャンス', "#", class: "left_class" 
              %li= link_to 'エントリーお待ちしてます', "#", class: "left_class" 
            %ul.notice__list__right
              %li= link_to 'ユーザーインデックス', "#", class: "right_class" 
              %li= link_to 'ユーザーNEW', "#", class: "right_class" 
              %li= link_to 'ユーザーEDIT', "#", class: "right_class" 
              %li= link_to 'ユーザーコントローラー', "#", class: "right_class" 
              %li= link_to 'エントリーお待ちしてます', "#", class: "right_class" 

        .right__lower
          %h3 ▼▼▼  購入した商品  ▼▼▼
          .trading__now
            .now__tab
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
  = render "shared/footer"
  .purchase-btn
    .purchase-btn--text 出品する
    = link_to (image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn--icon")