.user
  = render "shared/header"
  - breadcrumb :user
  = render "shared/breadcrumbs"
  .user__body
    .userbody__main
      .userbody__main__left
        = render "users/left_navi"
      .bodymain__right
        .right__Upper
          .right__Upper__contents
            .content__user
              = image_tag "member_photo_noimage_thumb.png",width: '60',height:'60'
            %h2= current_user.nickname
            .content__grades 評価  １００

        .right__middle
          %ul.middle__notice
            %li.tab__active  お知らせ
            %li.tab__active やることリスト
          .middle__notice__list
            %ul.middle__notice__list__left
              %li= link_to '商品を購入しよう', "#", class: "left_class" 
              %li= link_to 'TECH CAMP', "#", class: "left_class" 
              %li= link_to '楽しかった！', "#", class: "left_class" 
              %li= link_to 'SINCE', "#", class: "left_class" 
              %li= link_to 'Special thanks ', "#", class: "left_class" 
              %li= link_to 'ありがとう。', "#", class: "left_class" 
            %ul.notice__list__right
              %li= link_to 'FURIMAで', "#", class: "right_class" 
              %li= link_to 'TEAM ACE', "#", class: "right_class" 
              %li= link_to 'チーム開発', "#", class: "right_class" 
              %li= link_to '２０２１０２', "#", class: "right_class" 
              %li= link_to 'Setouchi-i-Base', "#", class: "right_class" 

        .right__lower
          %h3 ▼▼▼  購入した商品  ▼▼▼
          .trading__now
            .now__tab
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "member_photo_noimage_thumb.png"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
              = link_to "#" do
                = image_tag "fireworks_00020.jpg"
  = render "shared/footer"
  = render "shared/purchase_btn"