%body.purchases__body
  = render "purchases/header"

  .purchases__main
    %section.Main__one
      .Main__one--text  購入内容の確認
    %section.Main__two
      .infomation
        .infomation__top
          %figure.infomation__figurea
            = image_tag @item.item_photo.thumbnail.url,class: "figure-img"
        .infomation__middle
          .infomation--product 
            %p.infomation--product__name
              = @item.name
          %p.infomation__FeePrice
            %span.information__FeePrice--fee  
              = @item.delivery_fee.name
            -# %span.information__FeePrice--price  ¥2,000
    %section.Main__three
      .PaymentAmount
        .--text  支払い金額
        #PaymentPrice 
          = @item.price
          円
    %section.Main__four
      .MethodOfPayment
        .MethodOfPayment__top
          .--way  支払い方法
          .Creditcard
            = "**** **** **** " + @card_information.last4
            %p 
              有効期限
              - exp_month = @card_information.exp_month.to_s
              - exp_year = @card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
        .MethodOfPayment__bottom
          = link_to root_path do 
            .fas.fa-plus-circle
            %span.MethodOfPayment__text 
              登録してください
    %section.Main__five
      .Address
        .AddressArea
          .AddressArea__left  配送先
          = link_to '変更する >', root_path, class: "AddressArea__right"
        .Address__Information
          %ul  
            %li 
            = '〒 ' + @delivery.postal_code
            %li 
            %P ーーご住所ーー
            = @prefecture.name
            %li
            = @delivery.municipality
            %li
            = @delivery.address
            
            %li
            %P ーーお名前ーー
            = @user.last_name
            = @user.first_name

            

    %section.Main__six 
      = link_to '購入する', pay_item_purchases_path, class: 'paybtn' 
  = render "purchases/footer"