%body.purchases__body
  = render "purchases/header"

  .purchases__main
    %section.Main__one
      .Main__one--text  購入内容の確認
    %section.Main__two
      .infomation
        .infomation__top
          %figure.infomation__figurea
            = image_tag "339674_s.jpg",class: "figure-img"
        .infomation__middle
          .infomation--product  ロンパース3枚セット  70サイズ
          %p.infomation__FeePrice
            %span.information__FeePrice--fee  送料込み（税込み）
            %span.information__FeePrice--price  ¥2,000
    %section.Main__three
      .PaymentAmount
        .--text  支払い金額
        #PaymentPrice  ¥2,000
    %section.Main__four
      .MethodOfPayment
        .MethodOfPayment__top
          .--way  支払い方法
        .MethodOfPayment__bottom
          = link_to "#" do 
            .fas.fa-plus-circle
            %span.MethodOfPayment__text 
              登録してください
    %section.Main__five
      .Address
        .AddressArea
          .AddressArea__left  配送先
          %a
            = link_to '変更する >', root_path, class: "AddressArea__right"
        .Address__Information
          %p  〒760-0019
          香川県
          高松市
          サンポート

          %p 山田 タロウ  
    %section.Main__six  カード情報を登録してください。
  
  = render "purchases/footer"