!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title Fleamarket_sample_kagawa-e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'




  %body
    = render "shared/header"
    %div.TopMain
      %Section.AppDL
        %div.AppDL__title
          %h1.AppDL__title--top 人生を変えるフリマアプリ
          %p.text--a  FURIMAは誰でもかんたんに出品・購入ができる
          %p.text--b  フリマアプリです
          .AppDL__storebtn
            = link_to image_tag("/assets/google-play-badge.png", class:"apple-btn"), "#"
            = link_to image_tag("/assets/google-play-badge.png", class:"google-btn"), "#"





      %Section.Reason
        .Reason__intro
          .Reason__intro--subtitle
            FURIMAが選ばれる3つの理由
          %ul.ULreasonList
            %li.reason__list
              %div.reason__list--contents
                %span.number
                  %p 1
                = image_tag"/assets/pict-reason-01.jpg",width:300,height:'300'
              %h3.reason__list--text
                %span 3分
                %text ですぐに出品
              %p.reason__list--description
                スマホで入力するだけで簡単に出品できる！
            %li.reason__list
              %div.reason__list--contents
                %span.number
                  %p 2
                = image_tag "/assets/pict-reason-02.jpg",width:300,height:'300'
              %h3.reason__list--text
                %span シンプル
                %text で使いやすい
              %p.reason__list--description
                %text めんどくさい入力は必要なく、検索も購入もスムーズ！
            %li.reason__list
              %div.reason__list--contents
                %span.number
                  %p 3
                = image_tag "/assets/pict-reason-03.jpg",width:300,height:'300'
              %h3.reason__list--text
                %text 手数料
                %span 業界最安
              %p.reason__list--description
                %text 10%でお得に出品&購入！





      %section.AppDL__second
        %div.AppDL__second--dl
          %h2.Toptitle-contents 会員数日本一位
          %p.Toptitlle-explan  FURIMAは、フリマアプリで最も人気。
          %p.Toptitlle-explan  出品・購入回数も業界最多です！
          %p.Toptitlle-explan  欲しかったあの商品に出会えるかもしれません
          .store-btn-top
            = link_to image_tag("/assets/google-play-badge.png", class:"apple-btn"), "#"
            = link_to image_tag("/assets/google-play-badge.png", class:"google-btn"), "#"




            
      %Section.Feature
        .Feature__intro
          .Feature__intro--subtitle
            FURIMAの特徴 
          %ul.ULFeatureList
            %li.Feature__list
              %div.Feature__list--contents
                = image_tag"/assets/icon-01.png",width:219,height:'337'
              %h3.Feature__list--text
                %text 簡単に売り買いできる
              %p.Feature__list--description
                スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
            %li.Feature__list
              %div.Feature__list--contents
                = image_tag "/assets/icon-03.png",width:219,height:'337'
              %h3.Feature__list--text
                %text 売上金は即日振り込みに対応
              %p.Feature__list--description
                %text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
            %li.Feature__list
              %div.Feature__list--contents
                = image_tag "/assets/icon-04.png",width:219,height:'337'
              %h3.Feature__list--text
                %text 様々な支払いに対応
              %p.Feature__list--description
                %text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      

      
      
      %Section.NewPickup
        %h2.NewPickup__tittle ピックアップカテゴリー
        %div.NewPickup__products
          .products__textarea
            = link_to "#" do
              %h3.prodeucts__text 新規投稿商品
          %div.products__container
            
            
            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/339674_s.jpg",width:'184',height:'150'
                %div.product__sample--text
                  %h3.Introduction  ロンパース
                  .details
                    %ul
                      %li  1,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)
              %end
            

            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)  


            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)
            

            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)
            

            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)
            

            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)


            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)
            

            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)
            

            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)


            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/pict-reason-01.jpg",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  テレワーク
                  .details
                    %ul
                      %li  1,000,000円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)




      %Section.NewPickup
        %h2.NewPickup__tittle ピックアップブランド
        %div.NewPickup__products
          .products__textarea
            = link_to "#" do
              %h3.prodeucts__text アーカイバ
          %div.products__container
            
            
            %div.container__sample
              = link_to "#" do
                %figure.product__sample--img
                  = image_tag "/assets/udon01.png",width:'184',height:'150',class:"img"
                %div.product__sample--text
                  %h3.Introduction  うどん
                  .details
                    %ul
                      %li  500円
                      %li
                        %i.fa.fa-star
                        0
                    %p (税込)





    = render "shared/footer"
    %div.purchase-btn
      %span.purchase-btn--text 出品する
      = link_to (image_tag '/assets/icon_camera.png' , size: '185x50' ,class: "purchase-btn--icon")

-# /* 画面上部の「人生を変えるフリマアプリ」帯部分 */
-# /* FURIMAが選ばれる3つの理由部分 */
-# /* 「会員数日本一位」帯部分*/
-# /* FURIMAの特徴 */
-# /* ピックアップカテゴリー */
-# /* ピックアップブランド */
-# /* 今すぐ無料ダウンロード */

