%body
  = render "shared/header"
  .TopMain
    %Section.AppDL
      .AppDL__title
        .AppDL__title--top 人生を変えるフリマアプリ
        .text--a  FURIMAは誰でもかんたんに出品・購入ができる
        .text--b  フリマアプリです
        .AppDL__storebtn
          = link_to image_tag("appbtn.svg", class:"apple-btn"),"#"
          = link_to image_tag("googlebtn.svg", class:"google-btn"), "#"
    %Section.Reason
      .Reason__intro
        .Reason__intro--subtitle
          FURIMAが選ばれる3つの理由
        %ul.ULreasonList
          %li.reason__list
            .reason__list--contents
              %span.number
                %p 1
              = image_tag"pict-reason-01.jpg",class: "reason-img"
            .reason__list--text
              %span 3分
              %text ですぐに出品
            .reason__list--description
              スマホで入力するだけで簡単に出品できる！
          %li.reason__list
            .reason__list--contents
              %span.number
                %p 2
              = image_tag "pict-reason-02.jpg",class: "reason-img"
            .reason__list--text
              %span シンプル
              %text で使いやすい
            .reason__list--description
              %text めんどくさい入力は必要なく、検索も購入もスムーズ！
          %li.reason__list
            .reason__list--contents
              %span.number
                %p 3
              = image_tag "pict-reason-03.jpg",class: "reason-img"
            .reason__list--text
              %text 手数料
              %span 業界最安
            .reason__list--description
              %text 10%でお得に出品&購入！
    %section.AppDL__second
      .AppDL__second--dl
        .Toptitle-contents 会員数日本一位
        .Toptitlle-explan  FURIMAは、フリマアプリで最も人気。
        .Toptitlle-explan  出品・購入回数も業界最多です！
        .Toptitlle-explan  欲しかったあの商品に出会えるかもしれません
        .store-btn-top
          = link_to image_tag("appbtn.svg", class:"apple-btn"),"#"
          = link_to image_tag("googlebtn.svg", class:"google-btn"), "#"  
    %Section.Feature
      .Feature__intro
        .Feature__intro--subtitle
          FURIMAの特徴 
        %ul.ULFeatureList
          %li.Feature__list
            .Feature__list--contents
              = image_tag"icon-01.png",width:219,height:'337'
            .Feature__list--text
              %text 簡単に売り買いできる
            .Feature__list--description
              スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          %li.Feature__list
            .Feature__list--contents
              = image_tag "icon-03.png",width:219,height:'337'
            .Feature__list--text
              %text 売上金は即日振り込みに対応
            .Feature__list--description
              %text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
          %li.Feature__list
            .Feature__list--contents
              = image_tag "icon-04.png",width:219,height:'337'
            .Feature__list--text
              %text 様々な支払いに対応
            .Feature__list--description
              %text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    %Section.NewPickup
      .NewPickup__tittle ピックアップカテゴリー
      .NewPickup__products
        .products__textarea
          = link_to "#" do
            .prodeucts__text 新規投稿商品
        .products__container
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "339674_s.jpg",class:"img"
              .product__sample--text
                %h3.Introduction  ロンパース
                .details
                  %ul
                    %li  1,000円
                    %li
                      %i.fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)  
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "pict-reason-01.jpg",class:"img"
              .product__sample--text
                .Introduction  テレワーク
                .details
                  %ul
                    %li  1,000,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
    %Section.NewPickup
      .NewPickup__tittle ピックアップブランド
      .NewPickup__products
        .products__textarea
          = link_to "#" do
            .prodeucts__text アーカイバ
        .products__container
          .container__sample
            = link_to "#" do
              %figure.product__sample--img
                = image_tag "339674_s.jpg",class:"img"
              .product__sample--text
                .Introduction  ロンパース
                .details
                  %ul
                    %li  1,000円
                    %li
                      .fa.fa-star
                      0
                  %p (税込)
  = render "shared/footer"
  .purchase-btn
    .purchase-btn--text 出品する
    = link_to (image_tag 'icon_camera.png' ,class: "purchase-btn--icon")

