%body
  = render "shared/header"
  - breadcrumb :item
  = render "shared/breadcrumbs"
  .main
    .main-item
      .main-item__show
        .main-item-list
          .item
            %h2.item__name
              = @item.name
            .item-images
              .item-images__main
                .item-images__main-image
                  = image_tag @item.item_photo.thumbnail.identifier,class: "big-image"
              .item-images__sub
                .item-images__sub-image
                  = image_tag @item.item_photo.thumbnail.identifier, class: "small-image"
            .item__price
              %span.item__price-fee
                = "¥#{@item.price}"
              .item__price-detail
                %span (税込)
                %span 送料込み
            .item__buy-button
              - if user_signed_in?
                - if current_user.id == @item.seller_id       
                  = link_to "商品を編集する", '#', class: "item__buy-button_link--edit" 
                  = link_to "商品を削除する", '#', class: "item__buy-button_delete"
                - else
                  = link_to "購入画面へすすむ", '#', class: "item__buy-button_link"
              - else
                .no_by-button




            .item__text-box
              .item__text
                = @item.explanation
            .item__detail
              %table
                %tbody
                  %tr
                    %th 
                      出品者
                    %td 
                      = link_to @item.seller.nickname, user_path, class: "#"
                  %tr
                    %th
                      カテゴリー
                    %td
                      - if @item.category.parent.parent.present?
                        = link_to @item.category.parent.parent.name, "#", class: "#"
                        %br
                        = link_to @item.category.parent.name, "#", class: "#"
                        %br
                        = link_to @item.category.name, "#", class: "#"
                      - else
                        = link_to @item.category.parent.name, "#", class: "#"
                        %br
                        = link_to @item.category.name, "#", class: "#"
                  %tr
                    %th 
                      ブランド
                    %td
                      = @item.brand
                  %tr 
                    %th
                      = @item.state.name 
                    %td 
                      = @item.explanation
                  %tr 
                    %th 
                      配送料の負担
                    %td 
                      = @item.delivery_fee.name
                  %tr 
                    %th
                      配送の方法
                    %td 
                      = @item.delivery_method.name
                  %tr 
                    %th 
                      発送元の地域
                    %td 
                      = @item.delivery_area.name
                  %tr 
                    %th 
                      発送日の目安
                    %td
                      = @item.shipment_date.name
            .item__option
              %ul
                = link_to "#", method: :post, class: "favorite-link" do
                  %li.favorite-entp
                    %i.fa.fa-star
                    お気に入り
                    %span
                      1
              %ul
                %li.report-entp
                  = link_to "#", class: "report-link"do
                    %i.fa.fa-flag
                    不適切な商品の通報
          .item__comments
            %ul.comments-list
            = form_with html: {class: "#"} do |f|
              = f.text_area :text, class: "form-message"
              %p.warning-message
                相手のことを考えて丁寧なコメントを心がけましょう。
                %br 
                不快な言葉遣いなどは利用制限や退会処分となる事があります。
              = button_tag type: 'submit', class: "submit-btn" do
                %icon.fa.fa-comment 
                コメントする
          .item__seller
            = link_to "出品者さんのその他の商品", "#", class: "other-item-title"
            .other-item-list
              - 4.times do
                -#後にeach doに変更する
                .other-item
                  = link_to "#" do
                    %figure.other-item__image
                      = image_tag 'testtest.jpeg'
                    .other-item__detail
                      %h3.other-item__name
                      .other-item__price
                        %ul
                          %li ¥1000
                          %li
                            %i.fa.fa-star
                            4
                        %p （税込）
          .item-other__category
            = link_to "カテゴリーその他のグッズ", "#", class: "other-item-title"
            .other-item-list
              -#上と同じくeach doに変更する
              - 4.times do
                .other-item
                  = link_to "#" do
                    %figure.other-item__image
                      = image_tag 'testtest.jpeg'
                    .other-item__detail
                      %h3.other-item__name
                      .other-item__price
                        %ul
                          %li ¥1000
                          %li
                            %i.fa.fa-star
                            4
                        %p （税込）

                
                          
                          
  = render "shared/footer"
  = render "shared/purchase_btn"