!!! 
%html{lang: "ja"}
  %head 
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="_show.scss")
  %body
    %header.header
      .header-main
        .header-main__top
          .header-main__title
            = image_tag "fulima-og",width: "141", height: "41", class: "top-icon", alt: "top"
          .header-main__search-box
            %form.search-form{:action => "#"}
              %input.search-form__input-box{:placeholder => "キーワードから探す"}
              %label.search-form__input-label
                = image_tag "icon-search.jpg", width: "19", height:"19", class: "search-icon", alt: "icon"
                %btn.Submit-btn
        .header-main__bottom
          %ul.search-list
            %li.search-list__category
              = link_to '#', class: "search-list__category-link" do
                %i.fas.fa-list
                %span カテゴリーから探す
            %li.search-list__brand
              = link_to '#', class: "search-list__brand-link" do
                %i.fas.fa-tags
                %span ブランドから探す
          %ul.contents-list
            %li.contents-list__favorites
              = link_to '#', class: "contents-list__favorites-link" do
                %i.fas.fa-star
                お気に入り一覧
            %li.contents-list__news
              = link_to '#', class: "contents-list__news-link" do
                %i.fas.fa-bell
                %span お知らせ
            %li.contents-list__doing-list  
              = link_to '#', class: "contents-list__doing-list-link" do
                %i.fas.fa-check
                %span やること一覧
            %li.contents-list__mypage
              = link_to '#', class: "contents-list__mypage-link" do
                = image_tag 'member_photo_noimage_thumb.png', width: "28", height: "28", alt: "icon"
                %span.mypage マイページ
    .breadcrumbs
      .breadcrumbs__signpost
        = link_to "フリマ", '#'
        %i.fas.fa-chevron-right
        %span.current 商品名
    .main
      .main-item
        .main-item__show
          .main-item-list
            .item
              %h2.item-name 商品名
              .item-images
                .item-images-main
                  .item-images-main__images
                    = image_tag 'testtest.jpeg',class: "big-image"
                .item-images-sub
                  .item-images-sub__images
                    = image_tag 'testtest.jpeg', class: "small-image"
              .item-price
                %span.item-price__fee ¥1000
                .item-price__detail
                  %span (税込)
                  %span 送料込み
              .item-buy-button
                = link_to "購入画面へ進む", '#', class: "item-buy-button__link" 
              .item-text
                .item-text__text
                  testテスト試作
              .item-detail
                %table
                  %tbody
                    %tr
                      %th 
                        出品者
                      %td 
                        = link_to "出品者", "#", class: "#"
                    %tr
                      %th
                        カテゴリー
                      %td 
                        = link_to "親カテゴリー", "#", class: "#"
                        %br
                        = link_to ">小カテゴリー", "#", class: "#"
                        %br
                        = link_to ">孫カテゴリー", "#", class: "#"
                    %tr
                      %th 
                        ブランド
                      %td 
                        ブランドを記載
                    %tr 
                      %th 
                        商品の状態
                      %td 
                        商品の状態を記載
                    %tr 
                      %th 
                        配送料の負担
                      %td 
                        配送料の負担方法を記載
                    %tr 
                      %th
                        配送の方法
                      %td 
                        配送の方法を記載
                    %tr 
                      %th 
                        発送元の地域
                      %td 
                        香川県
                    %tr 
                      %th 
                        発送日の目安
                      %td
                        発送日の目安を記載
              .item-option
                %ul
                  = link_to "#", method: :post, class: "favorite-link" do
                    %li.favorite-entp
                      %i.fa.fa-star
                      お気に入り
                      %span
                        1
                %ul
                  %li.report-entp
                    = link_to "#", class: "report-link"do
                      %i.fa.fa-flag
                      不適切な商品の通報
            .item-comments
              %ul.comments-list
              = form_with html: {class: "#"} do |f|
                = f.text_area :text, class: "form-message"
                %p.warning-message
                  相手のことを考えて丁寧なコメントを心がけましょう。
                  %br 
                  不快な言葉遣いなどは利用制限や退会処分となる事があります。
                = button_tag type: 'submit', class: "submit-btn" do
                  %icon.fa.fa-comment 
                  コメントする
            .item-seller
              = link_to "出品者さんのその他の商品", "#", class: "seller-item__title"
              .other-item-list
                .other-item
                  = link_to "#" do
                    %figure.other-item__image
                      = image_tag 'testtest.jpeg'
                    .other-item__detail
                      %h3.other-item__name
                      .other-item__price
                        %ul
                          %li ¥1000
                          %li
                            %i.fa.fa-star
                            4
                        %p （税込）
                .other-item
                  = link_to "#" do
                    %figure.other-item__image
                      = image_tag 'testtest.jpeg'
                    .other-item__detail
                      %h3.other-item__name
                      .other-item__price
                        %ul
                          %li ¥1000
                          %li
                            %i.fa.fa-star
                            4
                        %p （税込）
                .other-item
                  = link_to "#" do
                    %figure.other-item__image
                      = image_tag 'testtest.jpeg'
                    .other-item__detail
                      %h3.other-item__name
                      .other-item__price
                        %ul
                          %li ¥1000
                          %li
                            %i.fa.fa-star
                            4
                        %p （税込）
                
            .item-other__category
                    
