%body.card-registration
  = render "purchases/header"
  %main.card-registration__main
    %section.card-registration__title
      %h2 支払い方法
    = form_with url: "#", id: "card_form", local: true do |f|
      .card_form
        .input-form
          .input-form__form-title
            %label カード番号
            %span.hissu 必須
          .input-form__input-box
            %input#card-number-form{ required: "required", placeholder: "1234 5678 1234 5678", type: "text", size: "19", name: "card[card_number]"}
            = image_tag 'visa-c.svg', class: 'card-company'
            = image_tag 'mastercard.svg', class: 'card-company'
            = image_tag 'saison.svg', class: 'card-company'
            = image_tag 'jcb.svg', class: 'card-company'
            = image_tag 'american_express.svg', class: 'card-company'
            = image_tag 'dinersclub.svg', class: 'card-company'
            = image_tag 'discover.svg', class: 'card-company'
        .input-form
          .input-form__form-title
            %label 有効期限
            %span.hissu 必須
          .input-form__input-box
            %select.input-form__select-month#month-form{ name: "card[exp_month]"}
              %option 1
              %option 2
            %span 月
            = f.select
            %span 年
        .input-form
          .input-form__title
            %label セキュリティコード
            %span.hissu 必須
          .input-form__input-box
            %input 
          .input-form__question
            %span
              %icon.fas.fa-question-circle
            カード裏面の番号とは
        %input.input-form__submit-btn
        = link_to "戻る", "#", class: ""
  = render "purchases/footer"